.song-bar {
    display: flex;
    justify-content: space-between;
    padding: 16px var(--padding-x-md);

    position: sticky;
    bottom: 0;
    background-color: var(--color-background);
}

.song-bar__info {
    display: flex;
    align-items: center;
    gap: 16px;
}

.song-bar__info__image {
    height: 60px;
    width: 60px;
}

.song-bar__info__image {
    overflow: hidden;
    border-radius: var(--border-radius-md);
}

.song-bar__info__details__artist {
    opacity: .6;
}

.song-bar__controls__buttons svg {
    height: var(--icon-size-md);
    width: var(--icon-size-md);
}